bdd/2012_2024-Guadeloupe_generation_filiere_mwh.csv
bdd/2012_2024-Guadeloupe_installed_capacity.csv
bdd/2012_2024-Repartition_enr_fossiles_percentage.csv
bdd/2012_2024-Guadeloupe_repartition_enr_fossile_mwh.csv
bdd/2016_2024-Guadeloupe_hourly_electricity_generation.csv
bdd/2012_2024-Guadeloupe_generation_filiere_percentage.csv
chart_tryout.py
functions.py
notes_todo.md
tryout.py
main_files/
__pycache__/
main.html
.envrc
.direnv/
